/* Styling the body and headings */
body {
    background: whitesmoke;
  }
  
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px
  }
  
  h3 {
    font-size: 30px;
  }

  /* Styling the header */
  .head {
    height: 150px;
    padding-top: 20px;
  }
  
  .head title {
    padding: 60px;
    margin: 0;
    background-color: rgb(245, 240, 219);
    text-align: center;
  }
  
  
  
  /* Adding media queries */
  @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }